@model VideoSharingWebApp.ViewModels.VideoCommentsViewModel

@{
    ViewBag.Title = "Details";
}



<div>
    <video class="dl-horizontal" style="display:block; margin-left:auto;margin-right:auto; grid-template:auto; object-fit:fill;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height:400px;
  max-width:300px;
  transform:initial;
" controls>
        <source src="@Html.DisplayFor(model => model.videoModel.Path)" type="video/mp4">

        Your browser does not support HTML5 video.
    </video>

    <dl class="dl-horizontal" style="display:block; margin-left:auto;margin-right:auto;">

        <dt style="font-size:20px">
            Title:
        </dt>
        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.videoModel.Title)
        </dd>
        <dt style="font-size:20px">
            Description:
        </dt>
        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.videoModel.VideoDesc)
        </dd>
        <dt style="font-size:20px">
            Creator:
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.videoModel.UserId)
        </dd>

        <dt style="font-size:20px">
            Date Uploaded:
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.videoModel.UploadTime.Day)
            @Html.DisplayFor(model => model.videoModel.UploadTime.Month)
            @Html.DisplayFor(model => model.videoModel.UploadTime.Year)

        </dd>

    </dl>
    <p style="font-size:25px">Comments</p>
    <dl style="font-size:20px">
        
        @foreach (var m in Model.commentModel)
        {
        <dd>
            <div style=" border:2px groove; padding: 10px;">
                <p>User:  @Html.DisplayFor(Model => m.UserName)</p>
                <p>Comment: @Html.DisplayFor(model => m.Comment)</p>
            </div>
            
        </dd>
        }
    </dl>
    @using (Html.BeginForm("Details", "VideoModels", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.EditorFor(model => model.newCommentModel.Comment, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.newCommentModel.VideoId, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @Value = Model.videoModel.Id } })
        </div>
        <div class="form-group">
            <input type="submit" value="Post Comment" class="btn btn-default" />
            </div>
            }
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.videoModel.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
