@model VideoSharingWebApp.Models.VideoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <video width="400" controls>
        <source src="@Html.DisplayFor(model => model.Path)" type="video/mp4">
        <source src="@Html.DisplayFor(model => model.Path)" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>
    <h4>VideoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
