@model VideoSharingWebApp.Models.VideoModel

@{
    ViewBag.Title = "Details";
}



<div>
    
    <video style=""  width=1000
  height=600 controls>
        <source src="@Html.DisplayFor(model => model.Path)" type="video/mp4">
        
        Your browser does not support HTML5 video.
    </video>
    <dl class="dl-horizontal">
        <dt>
            Title:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Creator:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            Date Uploaded:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadTime.Day)
            @Html.DisplayFor(model => model.UploadTime.Month)
            @Html.DisplayFor(model => model.UploadTime.Year)
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
